<h1>List of Users</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>

  <% @user_list.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td> <a href="/users/<%= user.username %>">Show details</td>
    </tr>
  <% end %>

</table>
